/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	
}

h1,
h2,
h3,
h4,
h5,
h6 {
	
}

p {
	
}


/* Elements
--------------------------------------------- */
ul {
}

li {
	display: flex;
	justify-content: center;
	border: solid .0625rem rgba(0, 0, 0, 0.300);
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
	color: black;
	text-decoration: none;
	padding: 1rem 6rem;
	display: block;
}

a:visited {
	
}

a:hover {
	
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

#navList {
	display: none;
}

#navList.toggled {
	display: block;
	padding: 0;
}

/* Header
--------------------------------------------- */

.header {
}

.topNav {
	display: block;
	justify-content: space-between;
}

/* Main
--------------------------------------------- */
.islandImg {
	display: block;
	max-width: 100%;
	height: auto;
}


/* Footer
--------------------------------------------- */