/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
html {
	font-family: 'philosopher', sans-serif;
}

body {
	margin: 3rem 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-align: center;
	
}

p {
	
}


/* Elements
--------------------------------------------- */
ul {
}

li {
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	
}

/* Links
--------------------------------------------- */
a {
}

a:visited {
	
}

a:hover {
	
}

a:focus {
	
}

a:active {
	
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

#navList {
	display: none;
}

#navList.toggled {
	display: block;
	padding: 0;
}

/* Header
--------------------------------------------- */

.topNav li {
	display: flex;
	justify-content: center;
	border: solid .0625rem rgba(255, 255, 255, 0.3);
	background-color: rgba(0, 0, 0, 0.900);
}

.topNav a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	padding: 1rem 6rem;
	display: block;
}

.topNav {
	padding: 1rem;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.750);
	top: 0;
	left: 0;
	right: 0;
}

/* #navButton,
.mainLogo {
	margin: 0.5rem;
} */

#navButton {
	margin: 0.5rem;
	position: absolute;
	top: 0;
	right: 0;
}

/* Main
--------------------------------------------- */
.islandImg {
	display: block;
	max-width: 100%;
	height: auto;
}

.mainImg h1{
	position: absolute;
	z-index: 2;
	bottom: 0;
	left: 2rem;
	background-color: yellow;
	padding: 0.5rem 1rem;
}


.mainImg {
	position: sticky;
	top: 3rem;
	z-index: -1;
}

.mainBody2 h2 {
	margin-top: 0;
}

.mainBody2 p {
	padding-bottom: 3rem;
	margin-bottom: 0;
}

.aboutSection {
	padding: 2rem;
}

.aboutSection,
.foodSection,
.landmarkSection,
.islandSection {
	background-color: aquamarine;
}


/* Footer
--------------------------------------------- */